/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$cerrar_sesion_name = 'cerrar_sesion';
$cerrar_sesion_x = 0px;
$cerrar_sesion_y = 0px;
$cerrar_sesion_offset_x = 0px;
$cerrar_sesion_offset_y = 0px;
$cerrar_sesion_width = 25px;
$cerrar_sesion_height = 25px;
$cerrar_sesion_total_width = 75px;
$cerrar_sesion_total_height = 75px;
$cerrar_sesion_image = '../images/sprite.png';
$cerrar_sesion = 0px 0px 0px 0px 25px 25px 75px 75px '../images/sprite.png' 'cerrar_sesion';
$ico_detalle_name = 'ico_detalle';
$ico_detalle_x = 25px;
$ico_detalle_y = 0px;
$ico_detalle_offset_x = -25px;
$ico_detalle_offset_y = 0px;
$ico_detalle_width = 25px;
$ico_detalle_height = 25px;
$ico_detalle_total_width = 75px;
$ico_detalle_total_height = 75px;
$ico_detalle_image = '../images/sprite.png';
$ico_detalle = 25px 0px -25px 0px 25px 25px 75px 75px '../images/sprite.png' 'ico_detalle';
$ico_editar_name = 'ico_editar';
$ico_editar_x = 0px;
$ico_editar_y = 25px;
$ico_editar_offset_x = 0px;
$ico_editar_offset_y = -25px;
$ico_editar_width = 25px;
$ico_editar_height = 25px;
$ico_editar_total_width = 75px;
$ico_editar_total_height = 75px;
$ico_editar_image = '../images/sprite.png';
$ico_editar = 0px 25px 0px -25px 25px 25px 75px 75px '../images/sprite.png' 'ico_editar';
$ico_eliminar_name = 'ico_eliminar';
$ico_eliminar_x = 25px;
$ico_eliminar_y = 25px;
$ico_eliminar_offset_x = -25px;
$ico_eliminar_offset_y = -25px;
$ico_eliminar_width = 25px;
$ico_eliminar_height = 25px;
$ico_eliminar_total_width = 75px;
$ico_eliminar_total_height = 75px;
$ico_eliminar_image = '../images/sprite.png';
$ico_eliminar = 25px 25px -25px -25px 25px 25px 75px 75px '../images/sprite.png' 'ico_eliminar';
$ico_filtro_name = 'ico_filtro';
$ico_filtro_x = 50px;
$ico_filtro_y = 0px;
$ico_filtro_offset_x = -50px;
$ico_filtro_offset_y = 0px;
$ico_filtro_width = 25px;
$ico_filtro_height = 25px;
$ico_filtro_total_width = 75px;
$ico_filtro_total_height = 75px;
$ico_filtro_image = '../images/sprite.png';
$ico_filtro = 50px 0px -50px 0px 25px 25px 75px 75px '../images/sprite.png' 'ico_filtro';
$ico_flecha_name = 'ico_flecha';
$ico_flecha_x = 50px;
$ico_flecha_y = 25px;
$ico_flecha_offset_x = -50px;
$ico_flecha_offset_y = -25px;
$ico_flecha_width = 25px;
$ico_flecha_height = 25px;
$ico_flecha_total_width = 75px;
$ico_flecha_total_height = 75px;
$ico_flecha_image = '../images/sprite.png';
$ico_flecha = 50px 25px -50px -25px 25px 25px 75px 75px '../images/sprite.png' 'ico_flecha';
$ico_notificaciones_name = 'ico_notificaciones';
$ico_notificaciones_x = 0px;
$ico_notificaciones_y = 50px;
$ico_notificaciones_offset_x = 0px;
$ico_notificaciones_offset_y = -50px;
$ico_notificaciones_width = 25px;
$ico_notificaciones_height = 25px;
$ico_notificaciones_total_width = 75px;
$ico_notificaciones_total_height = 75px;
$ico_notificaciones_image = '../images/sprite.png';
$ico_notificaciones = 0px 50px 0px -50px 25px 25px 75px 75px '../images/sprite.png' 'ico_notificaciones';
$spritesheet_width = 75px;
$spritesheet_height = 75px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $cerrar_sesion $ico_detalle $ico_editar $ico_eliminar $ico_filtro $ico_flecha $ico_notificaciones;
$spritesheet = 75px 75px '../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
