extends templates/base
block title
	| Usuario B1
block main-content
	div.content-table.min-table
		.min_option
			.col-xs-3
				.form-group
					label.label_general(for='usuario') Año
					select.form-control.select_line
						option 2016
						option 2015
						option 2014
			.col-xs-9
				a.btn_belcorp.pull-right Registrar
		table
			thead
				tr
					th ID
					th Momento
					th Bloque
					th Editar
					th Borrar
			tbody
				- for (var x = 1; x <= 20; x++)
					tr
						td.no-border Cyzone
						td FR
						td $$$$
						td 
							a.ico.ico_editar(href="#")
						td 
							a.ico.ico_eliminar(href="#")
			
		
