extends templates/base
block title
  | Usuario B1
block main-content
  .content-secuencias
    ul
      li
        span.ico.ico_flecha.flech
      li.active
        span.check-on.visto &#160;&#160; 
        a         
         | Definir Campañas
         br
         | del Producto
      li.active
        span.check-on 2
        a
         | Definir Precios Normal
         br
         | y Costos del Producto
      li
        span.check-on 3
        a
         | Definir Precio de
         br
         | Oferta y Dscto
      li
        span.check-on 4
        a
         | Descargar Herramientas
         br
         | Excel de Estimación
      li
        span.check-on 5
        a
         | Cargar
         br
         | Estimados
      li
        span.check-on 6
        a
         | Detallar
         br
         | Tonos
      li
        span.check-on 7
        a
         | Detallar
         br
         | Muestras         
  div.content-table
    .col-xs-6
      h3.text-center.title_definir
        span
          | Comparable de precio normal
      table.pull-right.nomargin
        thead
          tr
            th
              input.icheck(type="checkbox", checked)
            th País
            th Genérico
            th Descripción
            th Último PN en MN
            th Último PN en Dólares
            th Precio Normal del Nuevo MN          
        tbody
          - for (var x = 1; x <= 9; x++)
            tr
              td
                input.icheck(type="checkbox", checked)
              td.no-border Cyzone
              td FR
              td $$$$
              td @nombre
              td Nuevo
    .col-xs-6
      h3.text-left.title_definir
        span
          | Comparable de costo
      table.pull-left
        thead
          tr
            th Genérico
            th Descripción
            th Costo en MN
            th Costo en Dólares
            th Costo en SAP MN
            th Costo en SAP Dólares
            th Costo del Nuevo Dólares (Objetivo)        
        tbody
          - for (var x = 1; x <= 9; x++)
            tr
              td.no-border 045019001
              td CZ TRUE
              td $ 1.50
              td $ 1.50
              td
