.filter
  .btn_filter
    span.ico.ico_filtro 
  h2.title.text-center
    | Filtros
  form.form-filtro
    .form-group
      label.label_general
        | Ingrese usuario
      input.form-control.text_line(type='text', placeholder='Ingrese usuario') 
    .form-group
      label.label_general
        | Categorías
      select.form-control.select_line
        option 2016
        option 2015
        option 2014
    .form-group
      label.label_general
        | Año de Lanzamiento
      select.form-control.select_line
        option 2016
        option 2015
        option 2014
    .form-group
      label.label_general
        | Momento
      select.form-control.select_line
        option 2016
        option 2015
        option 2014
    .form-group.text-center
      button.btn.btn_filtro.btn-primary.btn-block.color_lila.hvr-wobble-vertical(type='submit') Aplicar Filtros
