div.overlay
  
  // Layer Asignar Momento - Usuario ID
  div.layer.assign-moment
    a.btn-close(href="javascript:void(0)")
    h3 Asignar Momento
    div.content-table
      table.table-layer
        thead
          tr
            th 
              input.icheck(type="checkbox", checked)
            th Momento
            th Bloque
            th Descripción
            th Abreviatura
        tbody
          - for (var x = 1; x <= 8; x++)
              tr
                td
                  input.icheck(type="checkbox", checked)
                td Momento #{x}
                td Bloque
                td Momento - Bloque
                td M1 - B1
    div.content-alert
      |El momento 1 ya fue asignado.
      br
      |¿Desea asignar nuevamente?
    a.btn-action(href="#") Asignar momento

  // Layer Cerrar Momento - Usuario ID
  div.layer.close-moment
    a.btn-close(href="javascript:void(0)")
    h3 Cerrar Momento
    div.content-table
      table.table-layer
        thead
          tr
            th 
              input.icheck(type="checkbox", checked)
            th Momento
            th Bloque
        tbody
          - for (var x = 1; x <= 8; x++)
              tr
                td
                  input.icheck(type="checkbox", checked)
                td Momento #{x}
                td Bloque
    a.btn-action(href="#") Cerrar momento

  // Layer Asignar responsable - Usuario BI
  div.layer.assign-responsibility
    a.btn-close(href="javascript:void(0)")
    h3 Asignar responsable
    div.content-search
      label Buscar usuario
      input(id="txtSearch", name="txtSearch", placeholder="Buscar")
    div.content-table
      table#assign-responsibility
        thead
          tr
            th Usuarios
        tbody
          - for (var x = 1; x <= 3; x++)
              tr
                td Jorge Manuel Hinostroza Medina
              tr
                td Javier Eduardo Ramirez Campos
    div.content-alert
      |El momento 1 ya fue asignado.
      br
      |¿Desea asignar nuevamente?
    a.btn-action(href="#") Asignar

  // Layer Registrar Momento - Usuario ID
  div.layer.register-moment
    a.btn-close(href="javascript:void(0)")
    h3 Registrar Momento
    div.content-table
      div.row
        div.col-xs-6
          label Momento
          input
        div.col-xs-6
          label Bloque
          input
      div.row
        div.col-xs-6
          label Descripción
          input
        div.col-xs-6
          label Abreviatura
          input
    a.btn-action(href="#") Registrar momento

  // Layer Momentos asignados - Usuario ID
  div.layer.moments-assigned
    a.btn-close(href="javascript:void(0)")
    h3 Momentos asignados
    div.content-table
      table.table-layer
        thead
          tr
            th Momento
            th Bloque
        tbody
          - for (var x = 1; x <= 8; x++)
              tr
                td Momento #{x}
                td Bloque
