extends templates/base
block title
	| Usuario B1
block main-content
	div.content-table.min-table
		.min_option
			.col-xs-3
				.form-group
					label.label_general(for='usuario') Producto a estimar
					input#txtSearchDescuentos.search-input.form-control.text_line_general(type='text', placeholder='ingrese producto')
			.col-xs-9
				a.btn_belcorp.pull-right Guardar Cambios
		table#descuentos
			thead
				tr
					th
						input.icheck(type="checkbox", checked)
					th País
					th Precio
						br
						| Normal
						br
						| MN
					th Precio de
						br
						| Oferta
						br
						| MN
					th % DCTO
					th Regla con
						br
						| Factor
						br
						| Normal
					th Regla con
						br
						| Factor
						br
						| Promocional
					th Regla con
						br
						| Factor
						br
						| Revista
			tbody
				- for (var x = 1; x <= 8; x++)
					tr
						td
							input.icheck(type="checkbox", checked)
						td.no-border C003
						td 
							input.form-control.text_line_general.minw(type='text')
						td
							input.form-control.text_line_general.minw(type='text')
						td 
							input.form-control.text_line_general.minw(type='text')
						td 
							input.form-control.text_line_general.minw(type='text')
						td 
							input.form-control.text_line_general.minw(type='text')
						td 
							input.form-control.text_line_general.minw(type='text')
