extends templates/base
block title
	| Usuario B1
block main-content
	div.content-table
		table
			thead
				tr
					th 
						input.icheck(type="checkbox", checked)
					th Marca
					th Categoría
					th Código de<br>proyecto
					th Nombre del<br>proyecto
					th Tipo de<br>proyecto
					th Dispo<br>AAAACC
					th Intro<br>AAAACC
					th Líder de<br>ID
					th Fecha de<br>CC
					th Fecha de<br>OC
					th Inconsistencias
					th Momentos
			tbody
				- for (var x = 1; x <= 20; x++)
					tr
						td
							input.icheck(type="checkbox", checked)
						td.no-border Cyzone
						td FR
						td $$$$
						td @nombre
						td Nuevo
						td $$$$
						td $$$$
						td Nombre de usuario
						td 16-06-16
						td 16-06-16
						td URL donde está presentación
						td 
							a.moments(href="#")
			
		
