extends templates/base
block title
  | Usuario ID
block main-content
  //- aside.page_content
  div.content-table
    table.large
      thead
        tr
          th 
            input.icheck(type="checkbox", checked)
          th Marca
          th Categoría
          th Sub Categoría
          th Tipo
          th Sub Tipo
          th Estatus Proyecto
          th Código del Proyecto
          th Nombre del Proyecto
          th Tipo de Proyecto
          th Líder de I&D
          th Líder de B1
          th País
          th CUC
          th CUC Tono
          th BPCS Genérico
          th BPCS Tono
          th Código SAP
          th Líder de B1
          th Dispo (AAAACC)
          th Intro (AAAACC)
          th Unidades SAP
          th Unidades B1
          th Inconsistencias
          
      tbody
        - var n = 0
        while n < 24
          - n++
          tr                        
            each valr in ['input','','','','','','','','','','','','','','','','','','','','','','','No tiene codigo CUC']
              if valr == "input"
                td.text-center
                  input.icheck(type='checkbox', checked)
              else
                td.text-center= valr
              
