extends templates/base
block title
  | Usuario ID
block main-content
  //- aside.page_content
  div.content-table
    //- table#table.table.table-bordered
    table
      thead
        //- tr
        //-   each val in ["input", 'Marca', 'categoria', 'Código de proyecto', 'Nombre del proyecto', 'Tipo de proyecto', 'Dispo AAAACC', 'Intro AAAACC', 'Lider de ID', 'Fecha de CC', 'Fecha de OC', 'Inconsistencias', 'Momentos']      
        //-     if val == "input"
        //-       th.text-center
        //-         input.icheck(type='checkbox', checked)
        //-     else
        //-       th.text-center= val
        tr
          th 
            input.icheck(type="checkbox", checked)
          th Marca
          th Categoría
          th Código de<br>proyecto
          th Nombre del<br>proyecto
          th Tipo de<br>proyecto
          th Dispo<br>AAAACC
          th Intro<br>AAAACC
          th Líder de<br>ID
          th Fecha de<br>CC
          th Fecha de<br>OC
          th Inconsistencias
          th Momentos
      tbody
        - var n = 0
        while n < 15
          - n++
          tr                        
            each valr in ['input', 'Cyzone', 'FR','$$$$', '@nombre', 'Nuevo', '$$$$', '$$$$', 'Nombre de usuario', '16-06-16', '16-06-16', 'URL donde está presentacion', 'ojo']
              if valr == "input"
                td.text-center
                  input.icheck(type='checkbox', checked)
              else if valr == "ojo"
                td.text-center
                  a.ico.ico_detalle
              else
                td.text-center= valr
              
