extends wrapper
block contentbody
  // include html layoud here
  main.main
    header.header
      .nav
        ul.nav.navbar-nav.navbar-right
          li
            a.nohover.line-right Jairo Machuca Cóndor
          li.noti
            a.nohover.ico.ico_notificaciones
          li.active
            a.nohover.ico.cerrar_sesion
    aside.nav_layout      
      .col-xs-2
        img.logo(src="images/1x_img_logo_belcorp-newel.png")
      .col-xs-10    
        .col-xs-6
          .line-bottom
        .col-xs-6
          ul.nav.navbar-nav.navbar-right.ul_layout
            li.active
              a(href="user-id-proyectos.html") Proyectos
            li
              a(href="#") Reportes
            li
              a(href="#") Notificaciones
            li
              a.dropdown-toggle(data-toggle="dropdown") Configuración
                ul.dropdown-menu
                  li
                    a(href='#') Momentos      
      nav.col-xs-10.content-btn
          ul.nav.navbar-nav.pull-right
            li.menu-item.active
              a.btn.btn-block.btn-signin.btn_belcorp_lila.btn_login.hvr-wobble-vertical(href='#', data="assign-moment") Asignar momento
            li.menu-item.view-tooltip
              a.btn.btn-block.btn-signin.btn_belcorp_lila.btn_login.hvr-wobble-vertical(href="user-id-inconsistencias.html", data="0") Ver Inconsistencias
              .tooltip.mensaje_tooltip.arrow_box
                p.text-center Para realizar esta acción, debe seleccionar al menos un campo                  
                p.text-center
                  input.icheck(type="checkbox")
            li.menu-item
              a.btn.btn-block.btn-signin.btn_belcorp_lila.btn_login.hvr-wobble-vertical(href="#", data="close-moment") Cerrar Momento
            li.menu-item
              a.btn.btn-block.btn-signin.btn_belcorp_lila.btn_login.hvr-wobble-vertical(href="#", data="0") Estimar
            li.menu-item
              a.btn.btn-block.btn-signin.btn_belcorp_lila.btn_login.hvr-wobble-vertical(href="#", data="assign-responsibility") Asignar Responsable
            li.menu-item
              a.btn.btn-block.btn-signin.btn_belcorp_lila.btn_login.hvr-wobble-vertical(href="#", data="0") Asignar Cuc para CC/EDL
    include ../filter
    //include html layoud here
    block main-content
  include ../layers
    
