.overlay
  background url(../images/bg-overlay.png)
  display none
  height 100%
  left 0
  position fixed
  top 0
  width 100%
  z-index 200
  // general layers
  .layer
    background #FFF
    box-sizing border-box
    display none
    left 50%
    padding 40px
    position absolute
    top 50%
    h3
      color #722689
      font-family "MuseoSans_300"
      font-size 17px
      text-align center
      text-transform uppercase
    .btn-close
      background url(../images/1x_ic_cerrar.png) no-repeat 0 0
      height 25px
      position absolute
      top 10px
      right 10px
      width 25px
    .btn-action
      background #722687
      border-radius: 15px;
      bottom 40px
      color #fff
      border: solid 1px #722687;
      font-size: 11px;
      padding: 5px 20px;
      position absolute
      text-transform: uppercase;
      &:hover
        background #ccc
        color #722687
    .content-search
      display block
      margin 20px auto -45px
      position relative
      width 80%
      z-index 10
      label
        color #722689
        display block
        font-size 11px
      input
        background #FFF url(../images/bg-search.png) no-repeat right 5px
        border none
        border-bottom solid 2px #722687
        padding 5px 20px 5px 0
        width 100%
    .content-alert
      background url(../images/bg-ico-alert.png) no-repeat top center
      font-size 12px
      margin 0 auto
      padding-top 23px
      text-align center
      width 230px
        
    .content-table
      margin-top: 0;
      .row
        margin 0
      table
        width 100%
        td
          height 40px
    div.dataTables_wrapper div.dataTables_paginate ul.pagination
      float right
      margin: 10px 0 0 0;
    // Layer Asignar momento  
    &.assign-moment
      margin -225px 0 0 -345px
      height 450px
      width 690px
      .btn-action
        left 270px
    // Layer Cerrar momento
    &.close-moment
      margin -197px 0 0 -205px
      height 395px
      width 410px
      .btn-action
        left 125px
    // Layer Asignar responsable
    &.assign-responsibility
      margin -240px 0 0 -205px
      height 480px
      width 410px
      #assign-responsibility_filter
        display none
      .btn-action
        left 160px
    // Layer Registrar momento
    &.register-moment
      margin -205px 0 0 -285px
      height 410px
      width 570px
      .content-table
        margin-top 40px
        .row
          margin-bottom 30px
          .col-xs-6
            box-sizing border-box
            padding 0 15px
        label
          color #722689
          display block
          font-size 12px
        input
          border none
          border-bottom solid 2px #dcc9e1
          padding 5px 0
          width 100%
      .btn-action
        left 200px
    // Layer Momentos asignados
    &.moments-assigned
      margin -180px 0 0 -180px
      height 360px
      width 360px
    