.login_layout
  .container
    .row
      .col-xs-12
        .col-xs-4
        .col-xs-4
          .card.card-container
            img#profile-img.img-responsive.profile-img-card(src='images/1x_img_logo_belcorp-newel.png')
            form.form-signin
              .form-group
                label.label-login(for='usuario') usuario:
                input#user.form-control.text_line.usuario(type='text', value='', placeholder='Ingrese usuario', required='', autofocus='')
              .form-group
                label.label-login(for='password') contraseña:
                input#password.form-control.text_line.password(type='password', value='', placeholder='Ingrese contraseña', required='')
                br
                button.btn.btn-lg.btn-primary.btn-block.btn-signin.color_lila.btn_belcorp_lila.btn_login.hvr-wobble-vertical(type='submit') Iniciar sesión
        .col-xs-4
  
