
////////////////////////////////////////////
//// ESTILOS DE LA ESTRUCTURA DEL SITIO ////
////////////////////////////////////////////

.main
  width: 100%;
  min-width 1220px
  float: left;
  overflow hidden
.content-table.min-table
  .pagination
    margin-right: 0px !important
.minw
  max-width 57px
.min-table
  width 45%
  margin auto
.text_line_general
  border-left 0px
  border-right 0px
  border-top 0px
  box-shadow none
  border-radius 0px
  &:hover, &:focus
    border-bottom 2px $color_lila solid
    box-shadow none
.color_lila
  background $color_lila
.login_layout
  .btn_belcorp_lila
    border solid 1px $color_lila
    margin auto
  .text_line
    border-left 0px
    border-right 0px
    border-top 0px
    box-shadow none
    border-radius 0px
    &:hover, &:focus
      border-bottom 2px $color_lila solid
.header
  background $color_lila
  .nav.navbar-nav.navbar-right
    padding 10px
    margin 0px
  .nav a
    padding 0px
    font-size 12px
    color white
  .nohover:hover
    background-color:transparent
    cursor default
  .line-right
    border-right solid 1px white
    margin-right 10px
    padding-right 10px !important
    line-height 25px
    vertical-align middle
aside.nav_layout
  display inline-block
  margin-top 20px
  width 100%
  .logo
    margin-left 30px
  .line-bottom
    height 2px
    background #F9F9F9
    margin-top 50px
  .ul_layout
    margin-top 25px
    margin-right 40px
    .dropdown-menu
      box-shadow none
      border none
      min-width 140px
      border-top 1px solid rgba(0, 0, 0, 0.15)
  .dropdown-menu li a
    text-transform capitalize !important
  .ul_layout li a, .ul_layout li a:hover
    font-size 14px
    color $color_gris
    text-transform uppercase
    background-color transparent
  .ul_layout li.active a
    color $color_lila
    // font-weight bold
    font-family "MuseoSans_300"


.btn_belcorp
  border 1px solid $color_lila
  border-radius 15px
  color #7f7f7f
  font-size 11px
  padding 5px 20px
  text-transform uppercase
.label_general
  font-size 13px
  color $color_lila
  font-weight lighter
  text-transform capitalize
  margin-bottom 0px
select
  -webkit-appearance none
  -moz-appearance none
  -webkit-appearance none
  -moz-appearance none
  appearance: none
  background: url("../images/ic_flechaabajo.png") !important
  background-repeat no-repeat !important
  padding 0px !important
  background-position center right 10px !important
.mensaje_tooltip
  bottom 138%
  // box-shadow 1px 1px 3px
  width 100%
  padding 10px
  z-index 10
.arrow_box {
	background: #fff;
	border: 1px solid #ccc;
  color #7f7f7f
  opacity 1
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -11px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #ccc;
	border-width: 11px;
	margin-left: -11.5px;
}
.select_line
  border-left 0px
  border-right 0px
  border-top 0px
  box-shadow none
  border-radius 0px
  &:hover, &:focus
    border-bottom 2px $color_lila solid
    box-shadow none
