// BLOQUES QUE SE REUTILIZARÁN
/*Login*/
.login_layout
  background-image url("../images/1x_img_background.jpg")
  background-repeat no-repeat
  background-size cover
  height 100%
  position absolute
  width 100%
  .card.card-container
    width 315px
    margin auto
    background #fff
    box-shadow: 2px 2px 14px #888;
  #profile-img
    padding-top 45%
    margin auto
  .form-signin
    padding-left 16%
    padding-right 16%
    padding-top 8%
    padding-bottom 16%
  .btn.btn_login, .btn.btn_login:focus
    border-radius 15px
    font-size 11.5px
    margin-top: 16%
    padding 6px
    display block
    text-transform uppercase
    width 144px
    background $color_lila
    border 0px
  .usuario
    padding-left 30px
    background rgba(0, 0, 0, 0) url("../images/1x_ic_login_usuario.png") no-repeat scroll 0 0 / 23px auto
  .password
    padding-left 30px
    background rgba(0, 0, 0, 0) url("../images/1x_ic_login_contraseña.png") no-repeat scroll 0 0 / 23px auto
  .label-login
    font-size 13px
    color $color_lila
    font-weight lighter
    text-transform capitalize


/*============================ Secuencias top =========*/
.content-secuencias
  margin-top 20px
  .flech
    margin-right 10px
  ul
    list-style-type none
    display inline-flex
    li
      a
        color #bcbcbc
        display block
        float left
        font-size 12px
        margin-left 16px
        margin-right 40px
        text-transform uppercase
      .check-on
        border solid 1px #ccc
        border-radius: 50%;
        color: #ccc;
        display: inline-block;
        float: left;
        font-size: 12px;
        padding: 2px 7px;
      span
        margin-top 6px
    li.active
      a
        color $color_lila
      .check-on
        border solid 1px $color_lila
        border-radius: 50%;
        color $color_lila
        display: inline-block;
        float: left;
        font-size: 12px;
        padding: 2px 7px;
      .check-on.visto
        background rgba(0, 0, 0, 0) url("../images/blue.png") repeat scroll 72px 23px
        border-color #419E94
table.nomargin
  margin-top 0px !important
.title_definir
  text-transform uppercase
  font-size 14px
  color $color_gris
  margin-bottom 15px
  span
    border-bottom solid 1px #41a096
    padding-left 50px
    padding-right 50px
    padding-bottom 7px
/*============================= filter ===============*/

  .filter
    background #fff
    right -300px
    width 300px
    height 100%
    position absolute
    border solid 1px #ccc
    border-right none
    box-shadow none
    top 0
    z-index 10
    transition: all 0.5s ease 0s;
    &.filter_oculto
      right 0
      box-shadow 2px 14px 6px 6px #ccc
      position absolute
      transition: all 0.5s ease 0s;
    .btn_filter
      margin-top -1px
      padding 8px 8px 0 10px
      margin-left: -45px;
      background $color_gris
      width 45px
      cursor pointer
      border-radius 15px 0 0 15px
      height 36
    .title.text-center
      color #B9378B
      font-weight bold
      font-size 13px
      text-transform uppercase
      padding-top 40px
    .text_line
      border-left 0px
      border-right 0px
      border-top 0px
      box-shadow none
      border-radius 0px
      &:hover, &:focus
        border-bottom 2px $color_lila solid
    .form-filtro
      padding 40px
      .btn_filtro, .btn_filtro:hover
        border 0 none
        border-radius 15px
        font-size 12px
        padding 6px
        text-transform uppercase
        margin-top 40px
        width 144px
        background $color_lila
/*=============================User ID==================*/
  .content-btn
    float right
    margin -20px 80px 0 0
    .menu-item.view-tooltip
      .tooltip
        display none
      &:hover
        .tooltip
          display block
    .menu-item.active a
      color white
      background $color_lila
  .content-btn ul li a
    padding 5px 20px
    border solid 1px $color_lila
    border-radius 15px
    font-size 11px
    color $color_gris
    text-transform uppercase
    &:hover
      color $color_lila
  .content-btn .menu-item
    margin-left 10px

.page_content
  padding-right 80px
  padding-left 80px
  padding-top 40px
  table
    thead
      // border-bottom solid 1px #41A096
    tr
      th
        border-bottom solid 1px #41A096
        font-size 12px
        color $color_lila
        font-family "MuseoSans_300"
        vertical-align middle
      td
        border-bottom solid 1px #E3E3E3
        font-size 12px
        vertical-align middle
        font-family 'Arial'
        color #585959
  .table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th
    border 0px


.min_option
  // width 40%
  margin auto
  margin-top 30px


// DISPLAY TABLE
.display-table
  display-table()

  .display-table-cell
    display-table-cell()



// CENTER
.big-center
  centers(1500px)

.center
  centers(1200px)

.small-center
  centers(980px)




// CLEARFIX
.clearfix
  clearfix()




// PROPERTIES
.hide
  opacity 0
.none
  display none
.error
  // border 1px solid red !important
  color red
  display block
  font-size 12px
  height 17px




// ICO
.ico
  display inline-block
.ico_notificaciones
  sprite($ico_notificaciones)
.cerrar_sesion
  sprite($cerrar_sesion)
.ico_detalle
  sprite($ico_detalle)
.ico_editar
  sprite($ico_editar)
.ico_eliminar
  sprite($ico_eliminar)
.ico_filtro
  sprite($ico_filtro)
.ico_flecha
  sprite($ico_flecha)





// General
.no-border
  border none

// User B1
.content-table
  display block
  margin-top 40px
  table.min
    width 40%
  table
    border none
    margin 0 auto
    width 95%
    tr
      &:hover
        background #ededed
      th
        background #ffffff !important
        border-bottom solid 1px #41A096
        box-sizing border-box
        color #722689
        font-family "MuseoSans_300"
        font-size 12px
        height 55px
        padding 0 10px
        text-align center
        vertical-align middle
      td
        border-bottom solid 1px #E3E3E3
        box-sizing border-box
        color #585959
        font-family "MuseoSans_100"
        height 75px
        font-size 12px
        padding 0 10px
        text-align center
        vertical-align middle
        .moments
          background url(../images/1x_ic_ver-momento.png) no-repeat 0 0
          display block
          height 19px
          margin 0 auto
          width 19px
    &.large
      th, td
        font-size 11px
        padding 0 5px


table.dataTable thead .sorting:after
  bottom: 18px

table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after
  bottom: 19px

div.dataTables_wrapper div.dataTables_paginate ul.pagination
  margin 20px 80px 20px 0

.pager li, .pagination>li
  display inline-block
  font-family "MuseoSans_100"
  font-size 12px
  margin 0 2px
  vertical-align top

.pagination>li>a, .pagination>li>span, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover
  background #FFF
  border none
  color #95a1aa
  text-align center
  padding 3px 0
  width 25px

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
  background #419e94
  border-radius 50%
  color #fff

.paginate_button.previous a
  background url(../images/1x_ic_flexhas-paginador.png) no-repeat 0 0 !important
  height 18px
  margin 3px 0 0
  padding 0
  width 16px !important

.paginate_button.next a
  background url(../images/1x_ic_flexhas-paginador.png) no-repeat -16px 0 !important
  height 18px
  margin 3px 0 0
  padding 0
  width 16px !important

/*input search */

input.search-input
  background #FFF url(../images/bg-search.png) no-repeat right 5px
  border none
  border-bottom solid 2px #722687
  padding 5px 20px 5px 0
  width 100%
