@font-face {
  font-family: 'FontAwesome';
  src: url('../files/fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../files/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../files/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../files/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../files/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../files/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans_100';
  src: local(""),
  url('../files/fonts/MuseoSans_100.otf') format("otf"),
  url('../files/fonts/MuseoSans_100.otf') format("opentype"),
  url('../files/fonts/MuseoSans_100.woff') format("woff");
}

@font-face {
  font-family: 'MuseoSans_300';
  src: local(""),
  url('../files/fonts/MuseoSans_300.otf') format("otf"),
  url('../files/fonts/MuseoSans_300.otf') format("opentype"),
  url('../files/fonts/MuseoSans_300.woff') format("woff");
}
